/* eslint-disable no-unused-vars */

.parallelepiped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Permette di cliccare attraverso la slide */
    transform-style: preserve-3d;
    opacity: 1; /* Rendila semi-trasparente */
    z-index: 1; /* Mettila dietro ai cubi */
}

.parallelepiped .face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(255,255,255,0.1);
}

.custom-face {
    display: flex;
    justify-content: center;
    align-items: center;
}